@tailwind base;
@tailwind components;
@tailwind utilities;

.nextra-content {
  ul {
    padding: 0;
    list-style-type: none;

    li {
      &::before {
        content: "–";
        display: inline-block;
        color: theme('colors.gray.500');
        position: absolute;
        margin-left: -15px;
      }

      ul {
        margin-top: 0;
      }
    }
  }

  ol {
    li::marker {
      color: theme('colors.gray.500');
    }
  }
}